<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.TpJobMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="tpJobResultMap" type="org.example.entity.TpJob">
        <id column="id" property="id"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="deleted" property="deleted"/>
        <result column="job_name" property="jobName"/>
        <result column="job_type" property="jobType"/>
        <result column="job_status" property="jobStatus"/>
        <result column="git_url" property="gitUrl"/>
        <result column="git_branch" property="gitBranch"/>
        <result column="command" property="command"/>
        <result column="recipients" property="recipients"/>
        <result column="timeout_minutes" property="timeoutMinutes"/>
        <result column="build_param" property="buildParam"/>
        <result column="timer" property="timer"/>
        <result column="creator" property="creator"/>
        <result column="updator" property="updator"/>
        <result column="desc" property="desc"/>
    </resultMap>


</mapper>
